@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container{
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 4rem;
}
h1,.btn{
  text-transform: capitalize;
}
.btn{
  
}
.d-flex{
  border: solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
